<div class="col sidebar sticky-top">
    <h3 class="text-center p-4 custom-font"><a href="/a/Dashboard/users" class="custom-disabled">Admin Dashboard</a></h3>
    <nav class="nav flex-column"> 
        <a href="/a/Dashboard/users" class="nav-link"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Users</a>
        <a href="/a/Dashboard/daily-message" class="nav-link"><i class="fas fa-sticky-note"></i>&nbsp;&nbsp;Daily Message</a>
        <a href="/a/Dashboard/visited-logs" class="nav-link"><i class="fas fa-warehouse"></i>&nbsp;&nbsp;Logs</a>
        <a href="/a/Dashboard/firework-setting" class="nav-link"><i class="fas fa-tools"></i>&nbsp;&nbsp;Firework Settings</a>
        <a href="/a/Dashboard/message-setting" class="nav-link"><i class="fas fa-columns"></i>&nbsp;&nbsp;Message Settings</a>
        <a href="/a/Dashboard/frequently-asked-question" class="nav-link"><i class="fas fa-info"></i>&nbsp;&nbsp;FAQ</a>
        <a href="/a/Dashboard/log-out" class="nav-link"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</a>
    </nav>
</div>