<div class="jumbotron jumbotron-fluid" style="padding-top:1.5em;padding-bottom:.2em">
    <div class="container">
        <h1 class="display-8 text-center" style="font-family: 'Full Pack 2025';letter-spacing: .15em;font-size:2em;">Knisanadzri Birthday</h1>
        <p class="lead text-center custom-font">SITE SETTINGS</p>
    </div>
</div>